.news {
    margin-bottom: 150px;
}

.news__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.news__flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.news__title-h2 {
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #111912;
}
.news__card {
    border: 1px solid #cfd8e0;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
	max-width: 450px;
}

.news__card-img {
    height: auto;
    max-width: 450px;
    vertical-align: middle;
    padding: 15px 15px 0 15px;
    margin-bottom: 20px;
	object-fit: cover;
}
.news__hover {
    text-align: start;
    padding: 15px;
}

.news__subtitle {
    max-width: 370px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #111912;
}
.news__link {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
}

a.news__link {
    color: #2a5633;
    border-bottom: 1px solid #fff;
}

a.news__link:hover {
    border-bottom: 1px solid #2a5633;
}
